.sign-in-img{
    object-fit: cover;
    height: 100%;
}
.form-select{
    height: 2.375rem;
}
@media (max-width:450px) {
    .name {
        display: block !important;
    }
    .age-gender{
        display: block !important;
    } 
}
p{
    font-size: .6rem;
    /* line-height: 0%; */
}